# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pickle
*.log

# Virtual environments
venv/
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv
*.parquet
*.json

# ML artifacts
models/
mlruns/
mlartifacts/
# shap_plot/
# static/plots/

# IDEs
.vscode/
.idea/

# # Docker
# *.dockerignore
# Dockerfile
# docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Others
*.tmp
*.bak
*.swp
diagram.py
tree.py
static